.DS_Store
.vscode/
*.pyc
__pycache__
data/*
!data/download.py

outputs/errors/*
!outputs/errors/.gitkeep

outputs/logs/*
!outputs/logs/.gitkeep

outputs/models/*
!outputs/models/.gitkeep

outputs/results/*
!outputs/results/.gitkeep

outputs/tensorboards/*
!outputs/tensorboards/.gitkeep

tests/*
!tests/.gitkeep

.idea/

